<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    {% block title %}
        {% if title %}
        <title>Главная</title>
        {% else %}
        <title>Про Flask</title>
        {% endif %}
    {% endblock %}
</head>
<body>
    {% block sps %}
    <div class="menu">
    <ul>
        {% for m in menu %}
            <li>
                <a href="{{ m.url }}">{{ m.name }}</a>
            </li>
        {% endfor %}
    </ul>
    {% endblock %}
    {% block content %}
    </div>
    <div class="container">
    <h1> {{ title }} </h1>
    Cодержимое страницы {{ title }}
    <div class="gusy">
        Жили у бабуси два весёлых гуся, оусчит они достали нож.
        Они приближаються к гусям, - УХАДИ НИД НЕ НАДО СЧИИИТ!!!
        ОНИ убили гусей, а счиит они их разделали и зажарили.
    </div>

    <ul class="chi"> <h3>Рецепт пряной гусятины</h3> Cодержимое:
        <li>Смачный гусь 4кг </li>
        <li>Картофан 1кг</li>
        <li>Лук пыряло 1кг</li>
        <li>Морковь 1кг</li>
        <li>Специи</li>
        <li>Сливки 300гр</li>
        <li>Способность жрать</li>
    </ul>
    </div>
    <div class="rep">
            Хорошо обжариваем гуся на растительном масле или гусином жире.
        Четвертькольцами режем лук и мелкими кусочками морковь.
        На дно гусятницы кладем лавровый лист и перцы горошком. Потом лук с морковью.
        Сверху выкладываем кусочки обжаренного гуся.

            Заливаем 1 стаканом подсоленного по вкусу бульона, накрываем крышкой и ставим
        в разогретую до 180-190 градусов духовку на 1 час.
        Режем кусочками картофель. Выкладываем сверху гуся, заливаем оставшимся подсоленным бульоном. Он должен не доходить немного до края картофеля.
        Посыпаем картофель сухим базиликом или другими приправами и снова ставим в духовку на 1 час 20 минут.
        На последних 20 минутах уменьшаем температуру до 170 градусов.

            На блюдо выкладываем картофель с овощами, посыпаем зеленью.
        Сверху кладем кусочки гуся. К жаркому из гуся можно подать разносолы, маринованные грибы.
    </div>
    {% endblock %}
    </div>
</body>
</html>