body{
    background-color: #c3fbf7;
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
    background: #0d100af2;
    padding: 20px;
    margin-top: 0;

}

a{
color: #95ff95;
}

.container{
    max-width: 1200px;
    background-color:coral
    margin: 0px;
    padding: 20px;
    box-sizing: border-box;
}

.gusy{
    max-width: 1200px;
    background:rgb(73, 49, 13)
    margin: 0px;
    padding: 20px;
    box-sizing: border-box;
}

.chi{
    max-width: 350px;
    margin: 0px;
    padding: 20px;
    box-sizing: border-box;
    background-color:violet
}

.rep{
    background:#eb7f7f;
    max-width: 1200px;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.form{
    display:flex;
    width: 400px;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #a0e7eda3;
}

.flash{
    padding: 10px;
    width: 300px;
}

.flash.success{
    border: 1px solid #21DB56;
    background: #AEFFC5;
}

.flash.error{
    border: 1px solid #FF5343;
    background: #FF9C9C;
}

ul{
    list-style:none;
    padding: 0;
}

p>a{
    text-decoration:none;
    color: #00adff;

}

li>p{
    border: 1px solid #CCC;
    padding: 10px, 20px;
    background: #44044c;
    height:30px;

}
li div{
    border: 1px solid #CCC;
    padding: 10px, 20px;
    background: #44044c;
    height:60px;
}

p.title{
    margin: 0;
    font-weight: bold;
    background: gold;
}

div.title a{
    display: block;
}

div.title:hover{
    background: orange;
}

.announce{
    margin-top: -1px;
    background:#fd6fffa6;
    margin-bottom: 40px;
}

.rightpic {
    float: right; /* Выравнивание по правому краю */
    margin: 0 0 5px 5px; /* Отступы вокруг фотографии */
   }